*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.statistics{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.statistics .chart .img{
    width: 100%;
}

.statistics .chart .img img{
    width: 100%;
    object-fit: contain;
}

.statistics .messageTittle{
    background-color: #020617;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    padding: .5rem 0rem;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.statistics .message .messageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.statistics .message .messageBody .messageWrapper{
    display: flex;
    align-items: center;
    gap: .8rem;
    color: #020617;
    background-color: #fff;
    padding: .5rem;

}

.statistics .message .messageBody .Message{
    box-shadow: .12rem .12rem .12rem .12rem #00000030;
    padding: .2rem .8rem;
    border-radius: .4rem;
}

.statistics .message .messageBody .Message h1{
    font-size: 1.2rem;
}

.statistics .message .messageBody .img{
    width: 10%;
}

.statistics .message .messageBody .img img{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1200px){
    .statistics .message .messageBody .img{
        width: 15%;
    }
}

@media (max-width: 1024px) {
    .statistics .message .messageBody .img{
        width: 15%;
    }
}

@media (max-width: 960px) {
    .statistics .message .messageBody .img{
        width: 15%;
    }
}

@media (max-width: 800px) {
    .statistics{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 2rem;
    }

    .statistics .message .messageBody{
        align-items: start;
    }

    .statistics .message .messageBody .img{
        width: 20%;
    }
}

@media (max-width: 640px) {
    .statistics .message .messageBody .img{
        width: 15%;
    }
}