.blogWrapper{
    margin-top: 10rem;

}

.blogWrapper h1{
    color: #fff;
    font-size: 1.8rem;
}

.blogWrapper .blogside{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    padding: 2rem 2rem 2rem 0rem;

}

.blogWrapper .blogside .img{
    width: 40%;
}

.blogWrapper .blogside .blogText{
    width: 50%;
}

.blogWrapper .blogside .reaction{
    display: flex;
}