
    
    #portfolio {
        display: flex;
        flex-direction: column;
    }
     /* Presantation texts */
     #portfolio h1{
        font-size: 3rem;
        color: #fff;
        text-align: center;
        margin-top: 3rem;
     }

     #portfolio h1 b{
        color: #EAB308;
        font-size: 3.4rem;
        font-weight: 700;
     }

     #portfolio p{
        color: #fff;
        font-size: 1.3rem;
        margin-top: 1rem;
     }

    /* Portfolio images */
    #portfolio .big{
        width: 40%;
        height: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    #portfolio .big img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    #portfolio .portfolioWrapper .otherImages{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5rem;
    }

    /* Those other small images */
    #portfolio .others{
        width: 80%;
        height: 10rem; 
        display: flex; 
        justify-content: space-between; 
        align-items: stretch;
        padding: 1rem .5rem;
    }

    #portfolio .others img{
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }

    /* flexing all the images */

    #portfolio .portfolioWrapper{
        display: flex;
        align-items: center;
        position: relative;
    }
    #portfolio .portfolioWrapper .slider{
        position: absolute;
        right: 2%;
        cursor: pointer;
        width: 6rem;
    }

    @media (max-width: 640px){
        #portfolio {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Presantation texts */
     #portfolio h1{
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
        margin-top: 3rem;
        text-align: center;
     }

     #portfolio h1 b{
        color: #EAB308;
        font-size: 2.8rem;
        font-weight: 700;
        text-align: center;
     }

     #portfolio p{
        color: #fff;
        font-size: 1.1rem;
        margin-top: 1rem;
     }

     #portfolio .portfolioWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 1rem 0rem 3rem 0rem;
    }

    #portfolio .big{
        width: 100%;
        height: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    #portfolio .others{
        width: 100%;
        height: 10rem; 
        display: flex; 
        justify-content: space-between; 
        align-items: stretch;
        padding: 1rem 2rem 0rem 0rem;
    }

    #portfolio .portfolioWrapper .otherImages{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0rem;
    }

    #portfolio .portfolioWrapper .slider{
        position: absolute;
        right: -5%;
        top: 70%;
        cursor: pointer;
        width: 2rem;
    }
    }