* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ; */
}

body{
  background-color: #111827;
  width: 100vw;
}

img{
  width: 100%;
}

/* The container of navbar and navlinks */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

main{
  width: 100vw;
}
/* The logo of my brand  */
.logo {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

img{
  background: transparent;
}

/* The nav container and navbar items removed default backgraund */
nav, a {
  /* background-color: transparent; */
}

/* Styles of navigation items */
nav a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

/* Functionality of hovering on navigation items */
nav a:hover,
nav a.active {
  color: #EAB308;
  font-weight: 600;
}

/* Class of ligin to leave some space btn login item and other items */
.login {
  padding-left: 5rem;
}

/* Styles of sections container */
.container {
  display: flex;
  flex-direction: column;
  padding: 20px 120px;
  height: 100vh;
}

/* styles of all sections */
section {
  min-height: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
}

section:nth-child(even){
  background-color: #020617;
}

@media (max-width: 1200px){

  section {
    min-height: 100vh;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 887px){
  

}

@media (max-width: 640px){
  nav{
    display: none;
  }
  .logo{
    width: 30%;
  }

  header{
    padding: 10px 70px;
    position: fixed;
  }
}

@media (max-width: 414px){
  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  header{
    padding: 10px 40px;
    position: fixed;
  }
}

